aiofiles==24.1.0
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.4.0
art==6.2
asgiref==3.8.1
asyncio==3.4.3
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
CacheControl==0.14.0
cachetools==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
Choco==1.0.5
chromedriver-autoinstaller==0.6.4
click==8.1.7
colorama==0.4.6
comtypes==1.4.4
cryptography==42.0.8
ctranslate2==4.3.1
distro==1.9.0
Django==5.0.6
dnspython==1.16.0
docutils==0.21.2
edge-tts==6.1.12
filelock==3.15.4
firebase-admin==6.5.0
Flask==3.0.3
Flask-AutoIndex==0.6.6
Flask-RESTful==0.3.10
Flask-Silk==0.2
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
g4f==0.3.2.1
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
groq==0.9.0
grpcio==1.64.1
grpcio-status==1.62.2
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.4
hupper==1.12.1
idna==3.7
importlib_metadata==8.0.0
intel-openmp==2021.4.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
joblib==1.4.2
keyring==25.2.1
languagemodels==0.18.0
livekit==0.11.1
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mkl==2021.4.0
more-itertools==10.3.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.8
mtranslate==1.8
multidict==6.0.5
NetHyTech-DeepTTS==1.0
NetHyTech-HindiTTS==1.1
NetHyTech-Pyttsx3-Speak==1.0
NetHyTech-STT==1.0
NetHyTech-TTS==0.3
networkx==3.3
ngrok==1.3.0
nh3==0.2.17
nltk==3.8.1
numba==0.60.0
numpy==2.0.0
ollama==0.2.1
openai==0.28.0
openai-whisper==20231117
outcome==1.3.0.post0
packaging==24.1
PasteDeploy==3.1.0
pefile==2023.2.7
pillow==10.4.0
pkginfo==1.10.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
player==0.6.1
playsound==1.2.2
plyer==2.1.0
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pyfiglet==1.0.2
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.8.0
pymongo==3.11.1
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.9.0
pypiwin32==223
pyramid==2.0.2
pyramid_jinja2==2.10.1
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dotenv==1.0.1
pyttsx3==2.90
pytweening==1.2.0
pytz==2024.1
pywhatkit==5.4
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
readme_renderer==43.0
redis==5.0.7
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
rsa==4.9
selenium==4.22.0
setuptools==70.3.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.8.1
spotipy==2.24.0
sqlparse==0.5.0
srt==3.5.3
sympy==1.12.1
tbb==2021.13.0
textblob==0.18.0.post0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.4
translationstring==1.4
trio==0.25.1
trio-websocket==0.11.1
twilio==9.2.3
twine==5.1.1
types-protobuf==5.27.0.20240626
typing_extensions==4.12.2
tzdata==2024.1
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.2.2
uv==0.2.24
venusian==3.1.0
vosk==0.3.45
webdriver-manager==4.0.1
WebOb==1.8.7
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wikipedia==1.4.0
win10toast==0.9
winotify==1.1.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.19.2
zope.deprecation==5.0
zope.interface==6.4.post2
