requests

winotify

pyautogui

pywhatkit

playsound==1.2.2

psutil

selenium

webdriver_manager

webscout

lxml_html_clean

gradio_client

colorlog

yaspin

opencv-python

pyaudio

scipy

wmi

comtypes

pycaw